<!DOCTYPE html>
<html>
<head>
    <title>View Counter</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>☁️</h1>
    <p>views: {{ view_count }}</p>
    <ul>
        {% for country in top_countries %}
            <li>{{ country.name }}: {{ country.visits }}</li>
        {% endfor %}
    </ul>
    <button id="clickMeButton">🖱️</button>
    <p>clicks: <span id="buttonCount">{{ button_count }}</span></p>
    <script>
        $(document).ready(function(){
            $('#clickMeButton').click(function(){
                $.get('/increment_button/', function(data) {
                    $('#buttonCount').text(data.button_count);
                });
            });
        });
    </script>
</body>
</html>
